@layer reset {
  a {
    text-decoration: none;
    color: inherit;
  }

  li {
    list-style: none;
  }
}

@layer utilities {
  @mixin inter($size, $weight) {
    font-family: $font-family-sans-serif;
    font-size: $size;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
  }

  @mixin inconsolata($size, $weight) {
    font-family: $font-family-monospace;
    font-size: $size;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
  }

  .inter-regular {
    @include inter(1rem, 400);
  }

  .inter-regular-big {
    @include inter(1.25rem, 400);
  }

  .inter-title {
    @include inter(1.5rem, 400);
  }

  .inconsolata-titles {
    @include inconsolata(2rem, 400);
  }

  .inconsolata-regular {
    @include inconsolata(1rem, 400);
  }

  .inconsolata-regular-big {
    @include inconsolata(1.25rem, 400);
  }

  .secondary-color {
    color: rgba($body-color, 0.6);
  }
}

@layer layout {
  body {
    background: linear-gradient(180deg, $bg-color-one 0%, $bg-color-two 100%);
  }
}

@layer components {
  // navbar
  .navbar {
    background: rgba($body-color, 0.05);
    backdrop-filter: blur(12px);
  }

  header .navbar-item {
    &:not(.active):hover {
      background: rgba($body-color, 0.1);
    }
  }

  footer .navbar-item-icon {
    &:hover {
      fill: rgba($body-color, 0.6);
    }
  }

  footer .navbar-item {
    &:not(.active):hover {
      font-weight: 600;
    }
  }

  .active {
    border-bottom: 4px solid $primary-enhanced;
    font-weight: 600;
  }

  //form-controls
  option{
    background-color: $bg-color-one;
  }

  //index-cards
  .info-card {
    background-color: $console-color-primary;
    border-radius: 0.75rem;
    border-top: 1.5rem solid $console-color-secondary;
    padding: 1rem;
  }

  .typewritter-effect {
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    animation: typing 8s steps(70) forwards, blink 1s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  //images
  .image:has(+figcaption){
    border: 1px solid $primary-enhanced;
    border-radius: 1rem;
  }
}

// .test-container{
//   background-color: color(display-p3 0 0.33 0.99);
// }