<ul class="cards-layout">

  <li class="card card-layout">
    <img src="./assets/images/speaker-1.jpg" class="card-img-top" alt="speaker portrait">
    <div class="card-body col-layout-small">
      <h5 class="card-title inconsolata-regular">Lucas Graystone</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">AI and Cyber Defense Expert</h6>
      <p class="card-text">Lucas specializes in leveraging AI to combat emerging cyber threats.</p>
    </div>
  </li>

  <li class="card card-layout">
    <img src="./assets/images/speaker-2.jpg" class="card-img-top" alt="speaker portrait">
    <div class="card-body col-layout-small">
      <h5 class="card-title inconsolata-regular">Ethan Winslow</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Ethical Hacker and Security Consultant</h6>
      <p class="card-text">Ethan has over a decade of experience in penetration testing and vulnerability assessment</p>
    </div>
  </li>

  <li class="card card-layout">
    <img src="./assets/images/speaker-3.jpg" class="card-img-top" alt="speaker portrait">
    <div class="card-body col-layout-small">
      <h5 class="card-title inconsolata-regular">Clara Whitmore</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Cloud Security Architect</h6>
      <p class="card-text">Clara advises governments on creating effective cybersecurity policies and frameworks.</p>
    </div>
  </li>

  <li class="card card-layout">
    <img src="./assets/images/speaker-4.jpg" class="card-img-top" alt="speaker portrait">
    <div class="card-body col-layout-small">
      <h5 class="card-title inconsolata-regular">Elena Fairchild</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Cybersecurity Policy Advisor</h6>
      <p class="card-text">Elena is a leader in mitigating cyberattacks and strengthening organizational resilience.</p>
    </div>
  </li>

  <li class="card card-layout">
    <img src="./assets/images/speaker-5.jpg" class="card-img-top" alt="speaker portrait">
    <div class="card-body col-layout-small">
      <h5 class="card-title inconsolata-regular">Ivy Harrington</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Incident Response Specialist</h6>
      <p class="card-text">Ivy focuses on securing the rapidly growing Internet of Things landscape.</p>
    </div>
  </li>

  <li class="card card-layout">
    <img src="./assets/images/speaker-6.jpg" class="card-img-top" alt="speaker portrait">
    <div class="card-body col-layout-small">
      <h5 class="card-title inconsolata-regular">Julian Ashford</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">IoT and Smart Device Security Analyst</h6>
      <p class="card-text">Julian designs robust cloud infrastructures to ensure enterprise-level data protection.</p>
    </div>
  </li>

</ul>