<ul>
  <li>
    <img src="#" alt="some-image">
    <div>
      <h3>Speaker title</h3>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
    </div>
  </li>

  <li>
    <img src="#" alt="some-image">
    <div>
      <h3>Speaker title</h3>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
    </div>
  </li>

  <li>
    <img src="#" alt="some-image">
    <div>
      <h3>Speaker title</h3>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
    </div>
  </li>

  <li>
    <img src="#" alt="some-image">
    <div>
      <h3>Speaker title</h3>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
    </div>
  </li>

  <li>
    <img src="#" alt="some-image">
    <div>
      <h3>Speaker title</h3>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
    </div>
  </li>

  <li>
    <img src="#" alt="some-image">
    <div>
      <h3>Speaker title</h3>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
    </div>
  </li>

</ul>