<div class="">
  <h2>Contact us</h2>
  <form class="fill-container">
    
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter your email" aria-label="user email">
      <span class="input-group-text" id="basic-addon2">@gmail.com</span>
    </div>
    
    <div class="mb-3">
      <select class="form-select">
        <option selected>Select the subject of your query</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    
    <div class="mb-3">
      <label for="message" class="form-label">Example textarea</label>
      <textarea class="form-control" id="message" rows="8"></textarea>
    </div>
  
    <button type="button" class="btn btn-primary">Submit</button>
  
  </form>
</div>