<form name="contact" class="container fill-container col-layout-medium" method="post" netlify>
  <div class="two-columns fill-container">
    <div>
      <input type="text" class="form-control" id="name" placeholder="Enter your name">
    </div>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter your email" aria-label="user email">
      <span class="input-group-text" id="basic-addon2">@gmail.com</span>
    </div>
  </div>

  <div class="two-columns fill-container">
    <div>
      <select class="form-select">
        <option selected>Select the subject of your query</option>
        <option value="1">General Inquiry</option>
        <option value="2">Technical support</option>
        <option value="3">Billing and payment</option>
      </select>
    </div>

    <div>
      <textarea class="form-control" id="message" rows="8" placeholder="Enter your text"></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-primary one-third-container row-layout-small">
    <i class="fa-solid fa-envelope"></i>
    <p>Submit</p>
  </button>
</form>