<p>Some contanct information</p>

<nav class="navbar-layout">
  <h2><a href="./index.html">Logo</a></h2>

  <ul class="navbar-links-layout test-container">
    <li><a class="navbar-link-layout test" href="./speakers.html">Page Two</a></li>
    <li><a class="navbar-link-layout test" href="./article.html">Page Three</a></li>
    <li><a class="navbar-link-layout test" href="./contact-form.html">Page Four</a></li>
  </ul>

  <ul class="navbar-links-layout test-container">
    <li><a class="navbar-link-layout test" href="">Icon1</a></li>
    <li><a class="navbar-link-layout test" href="">Icon2</a></li>
    <li><a class="navbar-link-layout test" href="">Icon3</a></li>
  </ul>
</nav>