<div class="container">
  <div class="index-grid">
    <div class="item-1">
      <img class="image" src="./assets/images/wallpaper-index.png" alt="coding wallpaper">
    </div>
    <div class="info-card inconsolata-regular item-2">
      <p>
        "Breaking the Code: Inside Modern Cyber Attacks"; TechSphere Conference Center, Room 302; 10:00 AM - 11:30 AM
      </p>
    </div>
    <div class="info-card inconsolata-regular item-3">
      <p>
        "The Human Firewall: Strengthening Security Through Awareness"; CyberSec Hall, Main Auditorium; 2:00 PM - 3:30 PM
      </p>
    </div>
    <div class="item-4">
      <div class="center-content">
        <div>
          <p class="inconsolata-regular typewritter-effect">"Welcome to CyberShield 2024 - Securing the Future, One Byte at a Time".</p>
        </div>
      </div>
    </div>
  </div>
</div>
