@use "sass:color";

$font-family-sans-serif: "Inter", sans-serif;
$font-family-monospace: "Inconsolata", monospace;


$largedesktops: 420px;


//BOOTSTRAP OVERRIDES
//colors
$body-color: #fff;
$primary: #2E3CF4;

//cards
$card-border-color: rgba($body-color, 0.2);
$card-border-radius: 0.75rem;
$card-bg: rgba($body-color, 0.05);

//input fields
$input-bg: rgba($body-color, 0.05);
$input-border-width: 1px;
$input-border-color: rgba($body-color, 0.2);
$input-border-radius: 0.75rem;
$form-select-indicator-color: $body-color;
$input-group-addon-bg: rgba($body-color, 0.5);

//Buttons
$btn-padding-y: 1rem;
$btn-padding-x: 1rem;
$btn-border-radius: 0.75rem;
