@use "sass:color";

//Fonts
$font-family-sans-serif: "Inter", sans-serif;
$font-family-monospace: "Inconsolata", monospace;

//Colors
$bg-color-one:#1C3146;
$bg-color-two:#07080D;
$console-color-primary:#1E1E1E ;
$console-color-secondary:#2D2D2D ;
$primary-enhanced: color(display-p3 0 0.33 0.99);

//Breakpoints
$medium-device-breakpoint: 680px;
$large-device-breakpoint: 1080px;
$extraLarge-device-breakpoint: 1280px;


//BOOTSTRAP OVERRIDES
//colors
$body-color: #fff;
$primary: #2E3CF4;

//cards
$card-border-color: rgba($body-color, 0.2);
$card-border-radius: 0.75rem;
$card-bg: rgba($body-color, 0.05);

//input fields
$input-bg: rgba($body-color, 0.05);
$input-border-width: 1px;
$input-border-color: rgba($body-color, 0.2);
$input-border-radius: 0.75rem;
$form-select-indicator-color: $body-color;
$input-group-addon-bg: rgba($body-color, 0.5);

//Buttons
$btn-padding-y: 1rem;
$btn-padding-x: 1rem;
$btn-border-radius: 0.75rem;
